<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="row" *ngIf="!loading">
    <div class="col-sm-4" *ngFor="let artist of artists" style="margin-top:10px">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><strong>{{artist.name}}</strong></mat-card-title>
          <mat-card-subtitle>Listeners: {{artist.listeners}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12">
              <a [routerLink]="['/artist/', artist.name]">
                <img [src]="artist.thumbnail" *ngIf="artist.thumbnail" [alt]="artist.name">
              </a>
            </div>
          </div>
          <br />
          <div class="row" style="height:32px;">
            <div class="col-sm-12">
              <mat-chip-list *ngIf="artist.tags != ''">
                <mat-chip>
                  <span>{{artist.tags}}</span>
                  <button (click)="removeTag(artist)" mat-icon-button><mat-icon>close</mat-icon></button>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="likeArtist(artist)" [color]="artist.is_liked ? 'warn' : null">
              <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialog(artist)">
              <mat-icon>loyalty</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-sm-4">
      <app-pagination [length]="total" (pageEvent)="setPage($event)" [pageIndex]="page-1" [pageSize]="limit"></app-pagination>
    </div>
  </div>
</div>