<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Artists</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['/likes']" routerLinkActive="active">Liked</a></li>
    </ul>
  </div>
</nav>