<form [formGroup]="tagForm" (ngSubmit)="onSubmit(tagForm.value, tagForm.valid)">
  <h1 mat-dialog-title>Please Add Tag</h1>
  <div mat-dialog-content>
    <p>What tags would you like to add?</p>
    
    <mat-form-field>
      <input matInput tabindex="1" formControlName="name" name="name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="submit" [disabled]="tagForm.invalid" mat-button tabindex="2">Ok</button>
    <button type="button" mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
  </div>
</form>