<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <a mat-button routerLink="/">Go Back</a>
  <div class="row" *ngIf="artist">
      <div class="thumbnail">
        <img [src]="artist.thumbnail" *ngIf="artist.thumbnail">
        <div class="caption">
          <h4><strong>Name:</strong> {{artist.name}}</h4>
          <p><strong>Listeners:</strong> {{artist.listeners}}</p>
          <p><strong>Playcount:</strong> {{artist.playcount}}</p>
          <p><strong>Bio:</strong> <span [innerHtml]="artist.bio"></span></p>
        </div>
      </div>
  </div>
  <div class="row" *ngIf="!artist && !loading">
      <div class="thumbnail">
        <img src="//ih0.redbubble.net/image.11241105.4427/raf,750x1000,075,t,5e504c:7bf03840f4.jpg" width="300px">
      </div>
  </div>
  
</div>