<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="row" *ngIf="artists.length > 0">
    <div class="col-sm-4" *ngFor="let artist of artists" style="margin-top:10px">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><strong>{{artist.name}}</strong></mat-card-title>
          <mat-card-subtitle>Listeners: {{artist.listeners}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <a [routerLink]="['/artist/', artist.name]"><img [src]="artist.thumbnail" *ngIf="artist.thumbnail" [alt]="artist.name"></a>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="unlikeArtist(artist)" [color]="artist.is_liked ? 'warn' : null">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="artists.length == 0">
    <span>No liked artists found</span>
  </div>
</div>